<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68291789329-c14iu97bbfm7og9antj64f5ims9kmca9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68291789329-c14iu97bbfm7og9antj64f5ims9kmca9</string>
	<key>API_KEY</key>
	<string>AIzaSyCANasGfoJnQIzTMTwDxMEPLTzPyd0fueM</string>
	<key>GCM_SENDER_ID</key>
	<string>68291789329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycoolnewappnative</string>
	<key>PROJECT_ID</key>
	<string>lista-de-desejos-6db97</string>
	<key>STORAGE_BUCKET</key>
	<string>lista-de-desejos-6db97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68291789329:ios:67cdac46b708d31d4ea7b0</string>
	<key>DATABASE_URL</key>
	<string>https://lista-de-desejos-6db97.firebaseio.com</string>
</dict>
</plist>